.about-container {
  display: flex;
  border: 5px solid green;
  width: 100%;
  justify-content: space-between;

  div {
    border: 5px solid blue;

    h1 {
      font-weight: bold;
    }
  }

  .lettering {
    text-align: center;
  }
}