.about-container {
  display: flex;
  border: 5px solid green;
  width: 100%;
  justify-content: space-between;

  div {
    border: 5px solid blue;

    a {
      text-decoration: none;
      font-weight: 600;
      transition: 0.5s;

      &:hover {
        background: @terminal-blue-light;
      }
    }

    span {
      font-weight: 700;
    }
  }

  .useful-links, .page-control {
    display: flex;
    align-items: center;
  }

  .lettering {
    text-align: center;
  }
}