@import "../styles/variables";
@import "../styles/media-queries";
@import "../styles//mixins";

.post-header-image-container {
  img {
    // border-radius: 0.2em;
    width: 100%;
    margin: 0;
  }
}

.post-title {
  margin-bottom: 0.5em;
}

.post-tags {
  @include span-flex-wrap();
  margin-bottom: 0.8em;

  span {
    @include span-tag();
  }
}

.post-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6em;

  @include respond-above(xs) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .author-container {
    display: flex;
    align-items: center;

    .avatar {
      height: 35px;
      background: $terminal-blue;
      border-radius: 2em;

      img {
        margin: 0;
      }
    }

    .publishing-information {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      margin-left: 0.6em;

      .date {
        color: $tb-darken;
      }
    }
  }
}
