@import "../styles/variables";
@import "../styles/media-queries";
@import "../styles//mixins";

.post-header-image-container {
  img {
    width: 100%;
    margin-bottom: 1em;
  }
}

.post-title {
  margin-bottom: 0.5em;
}

.post-tags {
  @include span-flex-wrap();
  margin-bottom: 0.5em;

  span {
    @include span-tag()
  }
}

.post-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6em;


  @include respond-above(sm) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .user-card-container {
    display: flex;
    align-items: center;

    .avatar {
      height: 50px;
      background: $terminal-blue;
      border-radius: 2em;

      img {
        margin: 0;
      }
    }

    .publishing-information {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      margin-left: 0.6em;

      .date {
        color: $tb-darken;
      }
    }
  }
}
