@import "../styles/variables";
@import "../styles/media-queries";
@import "../styles//mixins";

.post-header-image-container {
  img {
    width: 100%;
    margin-bottom: 0.4em;
  }
}

.post-title {
  margin-bottom: 0.5em;
}

.post-tags {
  @include span-tag-container();

  span {
    @include span-tags();
  }
}

.post-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6em;

  @include respond-above(xs) {
    flex-direction: row;
  }

  .author-container {
    width: 100%;
    display: flex;
    align-items: center;

    .avatar {
      height: 35px;
      background: $terminal-blue;
      border-radius: 2em;

      @include respond-above(xs) {
        height: 38px;
      }

      img {
        margin: 0;
      }
    }

    .publishing-information {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      margin-left: 0.6em;

      .date {
        color: $tb-darken;
      }
    }
  }
}
