@mixin span-flex-wrap() {
  display: flex;
  flex-wrap: wrap;
}

@mixin span-tag($color: green) {
  line-height: 1em;
  background-size: 0;
  font-size: 0.65rem;
  font-weight: 600;
  font-weight: bold;
  background: $color;
  border-radius: 0.1em;
  padding: 0.45em 0.9em;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
}

@mixin filter-tags($color: green) {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8em;

  span {
    line-height: 1em;
    background-size: 0;
    font-size: 0.65rem;
    font-weight: 600;
    font-weight: bold;
    background: $color;
    border-radius: 0.1em;
    padding: 0.45em 0.9em;
    margin-right: 0.5em;
    margin-bottom: 0.7em;
  }
}
