// VARIABLES
$night-owl: rgba(1, 22, 39, 1);
$terminal-blue: rgba(184, 203, 224, 1);
$indie-light: rgba(31, 54, 77, 1);
$indie-dark: rgba(14,36,57,1);
$friendly-blue: rgb(39, 64, 89);
$friendly-blue-hover: rgb(44, 71, 99);
$footer-link: rgb(99, 128, 156);