// IMPORTS
@import './reset.scss';
@import './variables';

* {
  color: $terminal-blue;
}

body {
  background: $night-owl;
  background: linear-gradient(0deg, $night-owl 0%, $indie-dark 50%, $indie-light 100%); 
}