// IMPORTS
@import './reset.scss';
@import './variables';

* {
  color: $terminal-blue;
  line-height: 1.8rem;
}

body {
  background: linear-gradient(0deg, $night-owl 0%, $indie-dark 50%, $indie-light 100%); 
}

h1,h2,h3,h4 {
  font-family: 'Nunito Sans', sans-serif;
}