@import "../styles/variables";
@import "../styles/media-queries";

.summary {
  div:nth-child(2) {
    text-align: right;
    margin-top: 3em;
  }

  @include respond-above(sm) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;

    div:nth-child(2) {
      text-align: center;
      margin: 0;
    }
  }

  .summary-content {
    border: 0.2em solid $border-blue;
    border-radius: 0.5em;
    padding: 1em;
    
    @include respond-above(sm) {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 2rem;
        margin-bottom: 1.2rem;
      }
    }

    img {
      display: none;
      
      @include respond-above(sm) {
        max-width: 50%;
        margin: auto 0;
        align-self: center;
        display: inline;
        transform: rotate(25deg);
        opacity: 0.8;
        transition: 2s;

        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
}
