@import '../styles/variables';

.topContent {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 50px;

  .introduction {
    width: 65%;
  }  
}

.summary {
  margin-bottom: 30px;
}