@import '../styles/variables';

.posts {
  list-style-type: none;
  margin:0;
}

.post {
  margin-bottom: 1rem;

  a {
    background: $terminal-blue-darker;
    display: block; // Control spacing?
    padding: 1rem;
    text-decoration: none;
    border-radius:2px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  }

  a:hover{
    background: $terminal-blue-dark;
  }

  h2 {
    margin-bottom:0.2rem;
  }

  p{
    font-size: 0.9rem;
  }
}