@import "../styles/variables";
@import "../styles//media-queries";
@import "../styles//mixins";

.post-container {
  list-style-type: none;
  margin: 0;

  .post-card {
    margin-bottom: 2em;

    .post-title-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      @include respond-above(sm) {
        flex-direction: row;
        flex-wrap: nowrap;
      }

      .post-title {
        margin-bottom: 0.4em;
        font-weight: 400;

        @include respond-above(sm) {
          font-size: 1.7rem;
          width: 75%;
        }

        a {
          transition: 200ms;
          text-decoration: none;

          &:hover {
            color: $tb-lighten;
          }
        }
      }

      .post-date {
        display: inline-flex;
        line-height: 1em;
        padding: 0.5em 0.6em;
        border: 1px solid $tb-darken;
        margin-bottom: 0.5em;
        margin-top: 0.3em;
        font-size: 0.9rem;

        @include respond-above(sm) {
          font-size: 0.8rem;
        }
      }
    }

    .post-tags {
      @include span-flex-wrap();
      // border-bottom: 1px solid $tb-darken;
      // padding-bottom: 0.8em;
      margin-bottom: 0.6em;

      span {
        @include span-tag();
      }
    }

    .post-preview-container {
      @include respond-above(sm) {
        display: flex;
        justify-content: space-between;
      }

      .post-preview-image-container {
        margin-bottom: 0.5em;

        @include respond-above(sm) {
          margin-bottom: 0;
          width: 45%;
        }

        img {
          width: 100%;
          transition: 200ms;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .post-preview {
        @include respond-above(sm) {
          width: 50%;
        }

        .post-expand {
          display: flex;
          justify-content: space-between;
          margin-top: 1em;

          a {
            text-decoration: none;
            color: $tb-darken;
            transition: 200ms;
            // padding-bottom: 0.1em;

            &:hover {
              color: $terminal-blue;
            }
          }

          .post-date {
            font-size: 0.9em;
            color: $tb-darken;
          }
        }
      }
    }
  }
}
