@import '../styles/variables';

.topContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  img {
    margin: 0;
  }

  .introduction {
    // width: 65%;

    .button {
      width: 40%;
      text-decoration: none;
      background: $terminal-blue-darker;
      padding: 0.8rem 1.1rem;
      transition: 425ms;
      border-radius: 2px;
      font-size: .9rem;
      box-shadow: 2px 2px 0 black;
      font-weight: normal;
      letter-spacing: 0.5px;

      &:hover {
        background: $terminal-blue-dark;  
      }
    }
  }  
}

.summary {
  margin-bottom: 30px;
}