.topContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .introduction {
    width: 65%;

    .button {
      text-decoration: none;
    }
  }

  
}

.summary {
  margin-bottom: 30px;
}