@import "../styles/variables";
@import "../styles//media-queries";
@import "../styles//mixins";

.post-card-link {
  text-decoration: none;
}

.post-card {
  display: flex;
  align-items: center;
  background: $indie-dark;
  min-height: 4em;
  padding: 1em 1em;

  .post-icon {
    height: 2em;
    padding-right: 0.7em;
  }

  .post-content {
    max-width: 75%;

    .post-title {
      font-weight: bold;
      line-height: normal;

      &:hover {
        color: $tb-lighten;
        text-decoration: underline;
      }
    }

    .post-sub-heading {
      display: none;

      @include respond-above(sm) {
        display: flex;
        align-items: center;
        font-size: 0.9em;
      }

      .post-published-date-icon,
      .post-tags-icon {
        padding-right: 0.4em;
        height: 1.5em;
      }

      .post-published-date {
        padding-right: 1em;
      }

      .post-published-date,
      .post-tags {
        height: 1.7em;
      }
    }
  }

  .post-chevron {
    margin-left: auto;
    height: 1.5em;
  }
}
