@import "../styles/variables";
@import "../styles//media-queries";
@import "../styles//mixins";

.post-card {
  display: flex;
  align-items: center;
  background: $indie-dark;
  min-height: 4em;
  padding: 1em 1em;

  .post-icon {
    height: 2em;
    padding-right: 0.6em;
  }

  .post-content {
    max-width: 80%;

    .post-title {
      font-weight: bold;
      line-height: normal;

      &:hover {
        color: $tb-lighten;
        text-decoration: underline;
      }
    }

    .post-tags-wrapper {
      display: none;

      @include respond-above(sm) {
        display: flex;
        align-items: center;
      }

      .post-tags-icon {
        padding-right: 0.3em;
        height: 1.5em;
      }

      .post-tags {
        font-size: 0.9em;
      }
    }
  }

  .post-chevron {
    margin-left: auto;
    height: 1.5em;
  }
}

a {
  text-decoration: none;
}

// .post-card {
//   margin-bottom: 2.5em;

//   @include respond-above(xs) {
//     max-width: 47%;
//   }

//   .post-preview-container {
//     @include respond-above(sm) {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//     }

//     .post-preview-image-container {
//       margin-bottom: 0.5em;

//       @include respond-above(sm) {
//       }

//       img {
//         width: 100%;
//         transition: 200ms;

//         &:hover {
//           opacity: 0.8;
//         }
//       }
//     }

//     .post-title {
//       margin-bottom: 0.6em;

//       a {
//         transition: 200ms;
//         text-decoration: none;

//         &:hover {
//           color: $tb-lighten;
//         }
//       }
//     }

//     .post-tags {
//       @include span-tag-container();
//       margin-bottom: 0.3em;

//       span {
//         @include span-tags();
//       }
//     }

//     .post-expand {
//       display: flex;
//       justify-content: space-between;
//       font-size: 0.9em;

//       a {
//         text-decoration: none;
//         color: $tb-darken;
//         transition: 200ms;

//         &:hover {
//           color: $terminal-blue;
//         }
//       }

//       .post-date {
//         color: $tb-darken;
//       }
//     }
//   }
// }
