@import "../styles/variables";

.dd-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .title {
    font-weight: bold;
    margin-bottom: 0.3em;
  }

  .dd-list {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      list-style-type: none;
      margin: 0;
      margin-right: 0.5em;
      margin-bottom: 0.5em;

      button {
        background-color: $indie-dark;
        padding: 0.5em 1em;
        border: 0;
        outline: 1px solid $night-owl;
        width: 100%;

        &:hover,
        &:focus {
          cursor: pointer;
          background-color: $friendly-blue;
        }
      }
    }
  }
}
