@import "../styles/variables";

.dd-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .dd-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
    outline: 1px solid $night-owl;
    background-color: $indie-dark;

    .title {
      font-weight: bold;
      margin: 0;
    }

    .action p {
      margin: 0;
    }
  }

  .dd-list {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      flex: 1 0 auto;
      list-style-type: none;
      margin: 0;

      button {
        background-color: $friendly-blue;
        font-size: 0.9rem;
        padding: 5px 5px;
        border: 0;
        outline: 1px solid $night-owl;
        width: 100%;

        &:hover,
        &:focus {
          cursor: pointer;
          background-color: $indie-dark;
        }
      }
    }
  }
}
