@import "../styles/variables";
@import "../styles/media-queries";

footer {
  width: 100%;
  border-top: 0.2em solid $border-blue;
  font-size: 0.8em;
  margin-top: 4em;

  .footer-content {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    margin: 4em auto;
    max-width: 80%;
    align-items: center;

    @include respond-above(sm) {
      max-width: 39em;
      flex-direction: row;
      text-align: left;
    }
    
    .footer-menu {
      border: 1px solid white;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      width: 100%;
      margin: 0;

      @include respond-above(sm) {
        flex-direction: column;
        margin: 0 0 0 4em;
        height: 9em;
      }

      li {
        margin: 0;
        
        a {
          color: $footer-link;
          text-decoration: none;
          transition: 200ms;

          &:hover {
            color: $terminal-blue;
          }
        }
      }
    }
  }
}
