@import "../styles/variables";

.site-footer {
  border-top: 3px solid #1f364d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  margin-top: 4em;

  .site-footer-content {
    display: flex;
    flex-direction: column;
    margin: 4em auto;
    max-width: 500px;
    align-items: center;
    text-align: center;

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      width: 300px;
      margin: 0;
      
      a {
        color: $footer-link;
        text-decoration: none;
        transition: 200ms;

        &:hover {
          color: white;
        }
      }
    }
  }
}
