@import "../styles/variables";

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.8em 0 3em 0;
}

.mh-logo {
  text-decoration: none;
  font-size: 2rem;
  transition: 200ms;
  font-weight: bold;
  letter-spacing: 0.3em;

  &:hover {
    color: white;
  }
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0.4em auto;
  width: 9.5em;
}

.main-nav li {
  display: inline;
  margin: 0;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 200ms;
  font-weight: bold;

  &:hover {
    color: white;
  }
}

.active-nav-item {
  color: white;
}
