@import '../styles/variables';

.header {
  padding: 1rem 0 2rem;
}

.title { 
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 1rem;
  transition: 425ms;
  padding: 0.2rem 1rem;
}

.nav-item:hover {
  color: rgb(158, 189, 216);
}

.active-nav-item {
  background-color: $terminal-blue-darker;
}