@import "../styles/variables";
@import "../styles/media-queries";

.main-header-container {
  width: 100%;
  box-shadow: 0 0 3px 0 black;
  background: $indie-dark;
  position: fixed;
  z-index: 1;
  top: 0;
  
  .main-header {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em;
    position: relative;
    box-shadow: 0 0 3px 0 black;

    @include respond-above(sm) {
      margin: 0 auto;
      box-shadow: none;
    }

    .mh-logo {
      height: 1.3em;
      font-family: "Press Start 2P", cursive;
      text-decoration: none;
      transition: 200ms;
      font-size: 1.2em;

      @include respond-above(sm) {
        height: 1.5em;

      }

      &:hover {
        color: $tb-lighten;
      }
    }

    .nav-bar {
      display: none;

      @include respond-above(sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .nav-list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;

        @include respond-above(sm) {
          width: 18em;
        }

        @include respond-above(md) {
          width: 20em;
        }

        li {
          display: inline;
          margin: 0;

          .nav-item {
            display: inline-block;
            text-decoration: none;
            font-size: 0.9rem;
            transition: 200ms;
            font-weight: bold;

            &:hover {
              color: $tb-lighten;
            }
          }

          .active-nav-item {
            color: $tb-lighten;
          }
        }
      }
    }

    .hamburger-btn {
      @include respond-above(md) {
        display: none;
      }
    }
  }

  .hamburger-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7em 2em;
    background-color: $border-blue;

    @include respond-above(sm) {
      display: none;
    }

    .nav-list {
      margin: 0;
      width: 18em;
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      li {
        display: inline;
        margin: 0;

        .nav-item {
          display: inline-block;
          text-decoration: none;
          transition: 200ms;
          font-weight: bold;
          font-size: 0.9em;

          &:hover {
            color: $tb-lighten;
          }
        }

        .active-nav-item {
          color: $tb-lighten;
        }
      }
    }
  }
}
