@import "../styles/variables";

.title-bar {
  padding: 1rem 0 2rem;
}

.nav-menu {
  border: 1px solid white;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  text-decoration: none;
  font-size: 0.9rem;
  transition: 150ms;
  border-radius: 2px;
  font-weight: bold;

  &:hover {
    color: white;
  }
}

.active-nav-item {
  color: white;
}
