@import '../styles/variables';

.topContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .introduction {
    width: 55%;

    p {
      font-size: 1.15em;
      line-height: 1.8;
    }
  }
}