@import '../styles/variables';

.topContent {
  margin-bottom: 4em;

  .introduction {
    max-width: 100%;
    text-align: center;

    p {
      font-size: 1.15em;
      line-height: 2rem;
    }
  }
}