@import "../styles/variables";
@import "../styles//media-queries";
@import "../styles//mixins";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $tb-darken;
  border-radius: 0.2em;
  padding: 1.25em;
  margin-bottom: 1em;
  transition: 200ms;

  @include respond-above(sm) {
    max-width: 49%;
  }

  .card-title {
    font-weight: 400;
  }

  .technology-tags {
    @include span-flex-wrap();
    margin-bottom: 0.8em;
    
    span {
      @include span-tag();
    }
  }

  .link-container {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      transition: 200ms;
      font-size: 0.9em;
      color: $tb-darken;

      &:hover {
        color: $terminal-blue;
      }
    }
  }
}
