@import "../styles/variables";
@import "../styles//media-queries";
@import "../styles//mixins";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2em;
  margin-bottom: 3em;
  transition: 200ms;

  @include respond-above(sm) {
    max-width: 47%;
  }

  .image-container {
    transition: 300ms;

    &:hover {
      transform: scale(1.05);
    }

    img {
      margin-bottom: 0.4em;
    }
  }

  .card-title {
    margin-bottom: 0.7em;

    a {
      text-decoration: none;
      transition: 200ms;

      &:hover {
        color: $terminal-blue;
      }
    }
  }

  .technology-tags {
    @include span-tag-container();
    margin-bottom: 0.4em;

    span {
      @include span-tag();
    }
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    // max-width: 100%;
    color: $tb-darken;

    a {
      color: $tb-darken;
      text-decoration: none;
      transition: 200ms;
      font-size: 0.9em;

      &:hover {
        color: $terminal-blue;
      }
    }
  }
}
