@import "../styles/variables";
@import "../styles//media-queries";

.card {
  border: 0.2em solid $border-blue;
  border-radius: 0.2em;
  padding: 1.5em;
  margin-bottom: 1em;
  transition: 200ms;

  @include respond-above(sm) {
      max-width: 49%;
  }

  .card-github {
    display: flex;

    img {
      margin: 0;
    }

    a {
      font-size: 0.9em;
      color: $footer-link;
      margin: auto 0.5em;

      &:hover {
        color: $terminal-blue;
      }
    }
  }
}

a {
  text-decoration: none;
  transition: 200ms;

  &:hover {
    color: white;
  }
}
