@import "../styles/variables";
@import "../styles/media-queries";

.menu-container {   
  .menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 9em;
    height: 1.8em;
    margin: 0;
    
    @include respond-above(md) {
      width: 10em;
    }

    li {
      transition: 200ms;

      a {
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

