@import "../styles/variables";
@import "../styles/media-queries";

.menu-container {   
  .menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 11em;
    height: 1.5em;
    margin: 1em 0;  

    @include respond-above(sm) {
      margin: 0.7em 0;  
      height: 2em;
    }

    li {
      transition: 200ms;

      a {
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

