@import "../styles/variables";
@import "../styles/media-queries";
@import "../styles//mixins";

.menu-container {      
    margin: 0.4em 0;

    @include respond-above(xs) {
      order: 2;
      margin: 0;
    }

    .menu-list {
      list-style-type: none;
      width: 7.5em;
      display: flex;
      justify-content: space-between;
      margin: 0;

      @include respond-above(xs) {
          margin-top: 0.5em;
      }

      li {
        margin: 0;

        a {
          text-decoration: none;

          img {
            transition: 200ms;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }