@import "../styles//mixins";
@import "../styles/variables";

.tag-container {
  @include span-tag-container();

  button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    @include span-tag($indie-dark, 0.7rem);
    border-radius: 1em;
    padding: 0.6em 1em;
    transition: 200ms;

    &:hover {
      transform: scale(1.05);
    }
  }
}
