@import "../styles//mixins";
@import "../styles/variables";

.tag-container {
  @include span-tag-container();

  .description {
    @include span-tag($night-owl);
  }

  button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    @include span-tag($indie-dark);
  }
}
